/*------------------------------------------------------------
Pagination
------------------------------------------------------------*/
.c-pagination {
    text-align: center;
    border-top: 1px solid #ccc;
    margin-top: -8px;
    padding-top: 50px;
    margin-bottom: 130px;

    &__number {
        font-size: 2rem;
        display: inline-block;
        width: 40px;
        line-height: 2;
        height: 42px;
        color: #000;
        margin: 0 14px 0 -7px;
        border: 3px #000 solid;

         
    }

    &__current {
        color: #fff;
        background-color: #000;
    }

    &__next,
    &__prev {
        font-size: 1.8rem;
        margin: 0 14px 0 -7px;
        border: 0;
    }

    a:hover {
        color: #fff;
        background-color: #000;
    } 
}

/*------------------------------------------------------------
------------------------------------------------------------*/
