.c-concern {
    background-image: url("assets/img/bg_concern.jpg");

    &__content {
        text-align: center;
        margin-bottom: 4.8%;
    }

    &__title {
        font-size: 3rem;
        font-weight: 700;
        color: #f8b616;
        transform: translateY(-24px);
        display: inline-block;
        position: relative;

        &::before {
            content: "";
            background: url("assets/img/icon_star.png");
            width: 40px;
            height: 35px;
            position: absolute;
            top: -3%;
            left: -40%;
        }

        &::after {
            content: "";
            background: url("assets/img/icon_star2.png");
            width: 32px;
            height: 28px;
            position: absolute;
            bottom: -8%;
            right: -33%;
        }
    }

    &__sub {
        font-size: 1.5rem;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 275px;

        &img {
            img {
                object-position: center;
            }
        }

        &box {
            background: #fff;
            padding: 9px 18px 25px 9px;
        }

        &desc {
            font-size: 1.6rem;
            font-weight: 700;
            margin-bottom: 13px;
        }
    }

}
